@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600;700&display=swap");

html, body, #root{
    margin:0;
    padding:0;
    height: 100vh;
    box-sizing:border-box;
}

body{
    /* font-family: Arial, sans-serif; <- Cuando eligjamos fuente general */
    background-color: #f0f0f0;
    font-family: "Bodoni Moda", "Times New Roman", serif;
}